@font-face {
    font-family: 'Abadi MT Condensed';
    src: url('AbadiMT-CondensedLight.woff2') format('woff2'),
        url('AbadiMT-CondensedLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


html, body {
    font-family: "Abadi MT Condensed";
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header h2,h3  {

    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 10px;
    font-size: 3rem;
    margin-top: -350px;
    margin-bottom: 350px;
}
.header h3 {
    font-size: 2rem;
}

.navbar-logo img {
height: auto;
width: 10vw;
align-content: center;
margin-top:-10px;
}
.navbar-logo2 img{
    display: none;
}

.nav {
    width: 100vw;
    text-align: justify;
    background-color: transparent;  
}

.nav a, h2,h3{
    color: white;
}

.nav a {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-right: 50px;
      margin-top: 15px;
      letter-spacing: 5px;
}

 .background {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -1;
    margin-top: -150px;

}



@media only screen and (max-width: 600px) {
    nav {
      background-color: #1b1b1b;
      width: 100%;
    }
    .navbar li {
        border-bottom: 1px solid rgba(200, 200, 200, 0.5);
        margin:0;
        
    }
    
  
    .nav a {
        float: right;
    }
   .navbar-logo{
      display: none;
   }
   .navbar-logo2 img{
       display: block;
       height: auto;
       width: 30vw;
       margin-left: 50%;
       margin-top:-20px;

   }

  }


  .footer {
      width: 100%;
      height: auto;
      background-color: #1b1b1b;
      color: #898989;
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
     
      
      
  }
  .footer a{
    width: 100%;
    height: auto;
    margin-left: 50px;
    margin-right:50px;
    color: #e4dfda;
    align-content: center;
    margin:50px;
    font-size: 1.25rem;
}
.footer p {
    margin-top: 100px;
}
  .footer img {
      padding-top: 15px;
      height: auto;
      width: 5vw;
      margin-bottom:50px;
      
  }


  .sample img {
      height: 500px;
      width: 250px;
  }




 
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}



/*curtis add*/
.container-fluid{
    background-color: black;
    height: 100%;
    width: 100%;
}
#myProgress {
    margin-top: auto;
    width: 100%;
    background-color: black;
    display: flex;

}

#myBar {
    margin-top: 9px;
    height: 3px;
    background-color: #4CAF50;
    line-height: 30px;


        
}
#myBarBall{
    background-color:#4CAF50;
    position: relative;
    left:0;
    width:20px;
    height:20px;
    border-radius:10px;
}

/*NEW FEATURE*/
/*
Svg Projects
Author: Jonathan Trancozo
Author_url: portfolio.jonathansilva.com.br/
Social_networks: {
  facebook: fb/jonathan.silva.web,
  twitter: @jsilva_web
}
Language: HTML, CSS3 and SVG
Project_version: V1
Project_description:
[pt-br]
Por anos eu vi essa imagem e pensava “Isso ficaria bem massa animado” e hoje consegui expressar um pouco da minha imaginação.
O desenho foi produzido no Adobe Illustrator e exportado em SVG. As animações foram feitas com CSS3 usando principalmente [transform].

Até uma próxima.


[en]
For years I saw this picture and thought "That would be amazing animated " and today I managed to express some of my imagination.
The design was produced in Adobe Illustrator and export in SVG . The animations were made with CSS3 using mainly [ transform ].

See you.

*/

html {
    font-size: 1em;
    line-height: 1.4;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
}


#deadline {
    width:581px;
    max-width: 100%;
    height:158px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#deadline svg {
    width: 100%;
}

#progress-time-fill {
    animation-name: progress-fill;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count: infinite;
}

/* Death */
#death-group {
    animation-name: walk;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count: infinite;

}

#death-arm {
    animation: move-arm 3s ease infinite;
    transform-origin: left center;
}

#death-tool {
    animation: move-tool 3s ease infinite;
    transform-origin: -48px center;
}

/* Designer */

#designer-arm-grop {
    animation: write 1.5s ease infinite;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
    transform-origin: left top;
}

.deadline-days {
    color: #fff;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    position: relative;
    height: 20px;
    font-family: 'Oswald', sans-serif;
}

.deadline-days .inner {
    width: 100px;
    position: relative;
    top: 0;
    left: 0;
}

.mask-red,
.mask-white {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.mask-red {
    left: 0;
    width: 0;
    color: #BE002A;
    animation: text-red 20s ease infinite;
    z-index: 2;
    background: #000;
}
.mask-white {
    right: 0;
}

/* Flames */

#red-flame {
    opacity: 0;
    animation: show-flames 20s ease infinite, red-flame 120ms ease infinite;
    transform-origin: center bottom;
}

#yellow-flame {
    opacity: 0;
    animation: show-flames 20s ease infinite, yellow-flame 120ms ease infinite;
    transform-origin: center bottom;
}

#white-flame {
    opacity: 0;
    animation: show-flames 20s ease infinite, red-flame 100ms ease infinite;
    transform-origin: center bottom;
}

@keyframes progress-fill {
    0% {
        x: -100%;
    }

    100% {
        x: -3%;
    }
}

@keyframes walk {
    0% {
        x: -100%;
    }

    100% {
        transform: translateX(550px);
    }
}

@keyframes move-arm {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(0);
    }

    9% {
        transform: rotate(40deg);
    }

    80% {
        transform: rotate(0);
    }
}

@keyframes move-tool {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(0);
    }

    9% {
        transform: rotate(50deg);
    }

    80% {
        transform: rotate(0);
    }
}

/* Design animations */

@keyframes write {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }

    16% {
        transform: translate(0px, 0px) rotate(5deg) scale(0.8, 1);
    }

    32% {
        transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
    }

    48% {
        transform: translate(0px, 0px) rotate(6deg) scale(0.8, 1);
    }

    65% {
        transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
    }

    83% {
        transform: translate(0px, 0px) rotate(4deg) scale(0.8, 1);
    }
}

@keyframes text-red {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

/* Flames */

/* @keyframes show-flames {
    0% {
        transform:  translateY(0);
    }
    74% {
        transform:  translateY(0);
    }
    80% {
        transform:  translateY(-30px);
    }
    97% {
        transform:  translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
} */

@keyframes show-flames {
    0% {
        opacity: 0;
    }
    74% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes red-flame {
    0% {
        transform: translateY(-30px) scale(1, 1);
    }

    25% {
        transform: translateY(-30px) scale(1.1, 1.1);
    }

    75% {
        transform: translateY(-30px) scale(0.8, 0.7);
    }

    100% {
        transform: translateY(-30px) scale(1, 1);
    }
}

@keyframes yellow-flame {
    0% {
        transform: translateY(-30px) scale(0.8, 0.7);
    }

    50% {
        transform: translateY(-30px) scale(1.1, 1.2);
    }

    100% {
        transform: translateY(-30px) scale(1, 1);
    }
}